@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
    height: 100vh;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    background: url(./BG.png) no-repeat;
    background-size: cover; 
    background-position: center;
    color: red;
}

h1 {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}
